
@media only screen and (max-width: 576px) { 

    /*---------------Common CSS-----------------*/

    .container {
        padding: 15px;
    }

    .section-padding {
        padding: 50px 0px;
    }

    .section-header h5 {
        font-size: 1em;
    }
    
    .section-header h1 {
        font-size: 1.9em;
        font-weight: 800;
        padding-right: 0px;
        line-height: 1.2;
    }
    
    .section-header h4 {
        font-size: 19px;
        font-weight: 600;
        padding-top: 0px;
        line-height: 1.7;
    }
    
    .section-des p {
        font-weight: 400;
        padding-top: 0px;
    }

    .btn-style {
        padding: 10px 25px;
        letter-spacing: 0;
    }

    /*---------------Main CSS-------------------*/

    .main-menu {
        display: none;
    }

    .hero-bg-img {
        height: 800px;
    }

    div#section-content {
        order: 2;
        padding-top: 0px;
    }

    div#section-img {
        order: 1;
        padding-top: 100px;
    }

    .hero-content {
        padding: 10px;
    }

    .hero-content-img {
        height: 220px;
    }

    .hero-header h5 {
        font-size: 1em;
        padding-top: 0px;
    }

    .hero-header h1 {
        font-size: 2em;
    }

    .hero-des p {
        font-size: 1em;
    }

    .access-demo-btn, .access-btn-red {
        margin-top: 10px;
    }

    .features-content > div {
        padding-left: 10px;
    }

    .feature-card {
        width: 100%;
    }

    .features-right {
        padding-top: 0px;
    }

    .website-features-img {
        height: 220px;
        margin-bottom: 20px;
    }

    .website-feature-list ul, .msfc-feature-list ul {
        padding-left: 10px;
    }

    .landingpage-img {
        height: 260px;
        width: 100%;
        background-image: url("../images/landing-page.jpg");
        background-position: center;
        background-size: cover;
        box-shadow: 0px 0px 30px #dddddd;
    }

    .msfc-features-img img {
        height: 260px;
        width: 100%;
        padding-left: 0px;
    }

    .padding-list li {
        font-size: 1em !important;
        margin-left: 20px;
    }

    .why-msfc-img {
        height: 200px;
        width: 100%;
    }

    .free-update {
        margin-top: 40px;
    }

    .business-type-item {
        width: 100%;
        margin-left: 10px;
        margin-bottom: 30px;
        border: 2px solid #eff0f9;
    }

    .business-type-item span {
        margin-top: 65px;
        margin-left: 98px;
    }
}

@media only screen and (min-width: 768px) { 

}

@media only screen and (min-width: 992px) { 

 }

@media only screen and (min-width: 1200px) { 

 }