@media only screen and (min-width: 1400px) { 

    * { font-size: 18px; }

    .section-padding { padding: 90px 0px; }
    
    .padding-top { padding-top: 70px; }
    
    .footer { padding: 70px 0px; }

    .footer-bg { margin-top: 120px; }    

    .footer-main span { display: block; }

    .mobile-copyright { display: none; }

    /*---------------Main CSS-------------------*/

    .main-menu { display: block; }
    .mobile-menu { display: none; }
}